@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}



input{
    border-radius: 3px;
    border: 1px solid gray;
    background-color: #DCDCDC;
    padding: 8px 12px;
}
.btn{
    padding: .375rem 1.8rem !important;
}
.btn-primary{
    background-color: #59A5FF !important;
    border-color: #59A5FF !important;
}

.intro-img{
    background-image: url(../images/watermark.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #00175b;
    height: 500px;
    /* background-repeat: no-repeat; */
    /* background-color: aliceblue; */
}
ul{
    padding-inline-start: 20px !important;
}